/*** Google web font ***/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  color: rgb(90, 78, 78);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #eee6db;
}

/*** Body ***/
body {
  padding: 1rem;
  border: 2px solid #817c7c;
  background-color: #fff;
  margin: 1rem;
}

/*** Header ***/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .title {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
header .title h1 {
  font-family: "sans-serif";
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
}
header .title .profile-details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.7rem;
}
header .profile {
  width: 4rem;
}
header .profile img {
  width: 100%;
  border-radius: 50%;
}
header .profile p {
  font-size: 0.8rem;
}

/*** Main ***/
main {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}
main section {
  position: relative;
}
main section h3 {
  position: absolute;
  top: -0.8rem;
  left: 0.02rem;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: #eee6db;
  padding: 0.2rem;
  border: 1px solid #817c7c;
  text-transform: capitalize;
}
main section ul {
  background-color: #f6f6f6;
  padding: 1rem;
  border: 1px solid #817c7c;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
}
main section ul li a {
  text-decoration: none;
  color: #d6a463;
}
main section ul li a:hover {
  text-decoration: underline;
}

/*** Tablet view ***/
@media screen and (min-width: 768px) {
  body {
    padding: 1.5rem;
  }
  header {
    padding: 1rem;
  }
  header .title {
    gap: 1.5rem;
  }
  header .title h1 {
    font-size: 2.5rem;
  }
  header .title .profile-details {
    font-size: 1rem;
  }
  header .profile {
    width: 8rem;
  }
  header .profile p {
    font-size: 1rem;
    text-align: center;
  }
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  main section {
    height: 10.5rem;
  }
  main section h3 {
    font-size: 1rem;
  }
  main section ul {
    height: inherit;
    padding-top: 1.5rem;
    gap: 0.8rem;
    font-size: 0.9rem;
  }
}
/*** Mini desktop ***/
@media screen and (min-width: 992px) {
  header {
    padding: 1.5rem 2rem;
  }
  header .title {
    gap: 2rem;
  }
  header .title h1 {
    font-size: 3rem;
  }
  header .title .profile-details {
    font-size: 1.1rem;
  }
  header .profile {
    width: 13rem;
  }
  header .profile p {
    font-size: 1.3rem;
  }
  main section {
    height: 10.5rem;
  }
  main section h3 {
    font-size: 1.2rem;
  }
  main section ul {
    padding-top: 2rem;
    font-size: 1rem;
  }
}
/*** Desktop view ***/
@media screen and (min-width: 1100px) {
  header .title {
    gap: 2.5rem;
  }
  header .title h1 {
    font-size: 3rem;
  }
  header .title .profile-details {
    font-size: 1.5rem;
  }
  header .profile {
    width: 15rem;
  }
  header .profile p {
    font-size: 1.5rem;
  }
  main {
    grid-template-columns: repeat(3, 1fr);
  }
  main section {
    height: 12rem;
  }
  main section h3 {
    font-size: 0.9rem;
  }
  main section ul {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1200px) {
  header .title .profile-details {
    font-size: 1.2rem;
  }
  header .profile p {
    font-size: 1.2rem;
  }
  main section {
    height: 11rem;
  }
}
@media screen and (min-width: 1300px) {
  main section {
    height: 10rem;
  }
}
@media screen and (min-width: 1450px) {
  header,
  main {
    width: 90%;
    margin: 0 auto;
  }
  main {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1750px) {
  header,
  main {
    width: 80%;
    margin: 0 auto;
  }
  main {
    margin-top: 3rem;
  }
}
